<h1>My Tasks:</h1>

<% @tasks.each do |task| %>
  <blockquote id="block-tasks">
    <h4><%= link_to task.title, task_path(task) %></h4>
  </blockquote>
<% end %>

<div id="add-task"><h4><%= link_to "Task+", new_task_path %></h4></div>


